.navbar-brand {
    font-size: 14px;
}
.nav-img{
    margin-right : 25px;
}
@media screen and (max-width: 1440px){
    .safety-box{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .about{
         text-indent: 0px;
    }
}
@media screen and (max-width: 425px){
    .navbar-brand {
        font-size: 14px;
    }
    .nav-img{
        margin-right : 25px;
    }
}

@media screen and (max-width: 367px){
    .navbar-brand {
        font-size: 9px!important;
    }
    .nav-img{
        margin-right : 10px;
    }
}